<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Channels</h1>
    </div>
  </div>

  <div class="btn-group" id="config-buttons" role="group" aria-label="...">
    <a href="#/" type="button" class="btn btn-custom btn-border">My Channels</a>
    <a href="#/newchannel" type="button" class="btn btn-custom btn-border">New channel</a>
  </div>

  <div ng-view>
  </div>

</div>
