<head>

    <!-- pb avec chrome http://stackoverflow.com/questions/16251420/couldnt-load-template-using-templateurl-in-angularjs-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maison Connectée - Prototype 1.0</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Weather CSS-->
    <!--<link href="dist/css/weather-panel.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-21.css" rel="stylesheet">
    <link href="/dist/css/landing.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/bootstrap-select.css">
    <link href="/dist/css/bootstrap-select.css.map">

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="/js/date.format.js"></script>

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Highcharts -->
    <script src="/js/mootools-core.js" type="text/javascript"></script><!-- modular and OO js framework -->
    <script src="/js/modal.js" type="text/javascript"></script><!-- squeezebox-->
    <script src="/js/slide.js" type="text/javascript"></script><!-- ??? -->
    <script src="/js/highstock.js"></script><!-- stock charts -->
    <script src="/js/exporting.js"></script><!-- export chart as an image -->

    <!-- Angular -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angularLocalStorage-nc/src/angularLocalStorage.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/keyRegistrationApp.js"></script>
    <script src="/js/KeyRegistrationController.js"></script>
    <script src="/js/StepController.js"></script>


</head>
