<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
	<body>
		<div id="wrapper">
			<%= render 'layouts/nav' %>
	    <%= yield %>
		</div>
		<!-- Bootstrap Core JavaScript -->
	    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	    <!-- Custom Theme JavaScript -->
	    <script src="/dist/js/sb-admin-2.js"></script>
	</body>
</html>
