{% extends "templates/base_connected.html" %}


{% block content %}
{% load staticfiles %}
<script src="{% static 'js/ForecastCtrl.js' %}"></script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Weather forecast</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="CityName"></div>
<div class="row">
	<div id="errors-message" class="error">
        <i class="fa fa-exclamation-triangle"></i><strong class="city_name"> {{errorCity}}</strong> does not exist...
    </div>
    <form id="input-city" class="form-inline">
		<div class="form-group input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
			<input type="text" class="form-control" placeholder="Enter a city" aria-describedby="basic-addon1" id="city">
		</div>
  		<div class="form-group">
    		<a onclick="submitCity()" class="btn btn-primary">Search</a>
  		</div>
	</form>
	<div class="notready loading">
        <!--<img src="images/ajax-loader.gif" alt="loading">-->
        <i class="fa fa-spinner fa-spin"></i>
        Loading chart...
    </div>
    <table class="table table-striped" id="forecast-table">
		<thead>
			<tr>
				<th class="days">{{d}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="temperature">{{t.morn}}°C | {{t.eve}}°C</td>
			</tr>
			<tr>
				<td class="image"><img src="images/weather/{{i}}.png"></td>
			</tr>
			<tr>
				<td class="weather">{{w}}</td>
			</tr>
			<tr>
				<td class = "wind">{{w}} km/h</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock content %}
