{% extends "templates/container.html" %}


{% block content %}

<div>
  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>
  <div class="container">
    <div class="row bs-wizard" style="border-bottom:0;">
            <div class="col-xs-3 bs-wizard-step complete">
              <div class="text-center bs-wizard-stepnum">Step 1</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Personal informations.</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Step 2</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Channel configuration.</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Step 3</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">API keys.</div>
            </div>
        </div>
  </div>

  <div class="row">
  </br></br>
    <div id="form-signup" class="panel-body">
    <form action="." method="post">
      {% csrf_token %} 
      <div class="form-group">
        <label class="col-sm-4 col-xs-3 control-label">User Name</label>
        <div class="col-sm-8 col-xs-6">{{ login_form.name }}</div>
        <br>

        <label class="col-sm-4 col-xs-3 control-label">Email</label>
        <div class="col-sm-8 col-xs-6">{{ login_form.email }}</div>
        <br>

        <label class="col-sm-4 col-xs-3 control-label">Time Zone</label>
        <div class="col-sm-8 col-xs-6">{{ login_form.timezone }}</div>
        <br>

        <label class="col-sm-4 col-xs-3 control-label">Password</label>
        <div class="col-sm-8 col-xs-6">{{ login_form.password }}</div>
        <br>

        <label class="col-sm-4 col-xs-3 control-label">Confirm Password</label>
        <div class="col-sm-8 col-xs-6">{{ login_form.password2 }}</div>
        <br>

        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-8">
          <input type="submit" value="Create Account" class="btn btn-lg btn-custom btn-block">
        </div>
      </div>
    <form>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('user_login').focus();
</script>


{% endblock content %}